/* GRID CSS */
body{
    background-color: lightgrey;
}
h1{
    color: darkgrey;
    font-size: 500%;
    font-family: "Arial";
}
h2{
    color: purple;
    vertical-align:bottom;
    font-family: 'Open Sans', sans-serif;
}

h3{
    color: purple;
    font-family: "Arial"
}
h4{
    font-family: "Arial"
}
li{
    font-family: "Arial"
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width:30%;
}
.header {
    font-family: "Arial"
    padding: 15px;
}
.menu_left {
    width: 50%;
    float: left;
}
.menu_rght {
    width: 50%;
    float: right;
}
.menu_quater {
    width: 25%;
    float: left;
    height: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Arial"
}

li a:hover {
    background-color: #555;
    color: white;
}
nav select {
    display: none;
}
@media (max-width: 940px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
  h4         { display: none; }
}
@media (max-width: 400px) {
  p          { display: none; }
}
.grid-container {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 20% 40% 20% 20% ;
  background-color: lightgrey;
  padding: 10px;
}
.grid-item {
  
  background-color: lightgrey;
  text-align: left;
}
